/**
Theme Name: Astra Child
Author: Brainstorm Force
Author URI: http://wpastra.com/about/
Description: Astra is the fastest, fully customizable & beautiful theme suitable for blogs, personal portfolios and business websites. It is very lightweight (less than 50KB on frontend) and offers unparalleled speed. Built with SEO in mind, Astra comes with schema.org code integrated so search engines will love your site. Astra offers plenty of sidebar options and widget areas giving you a full control for customizations. Furthermore, we have included special features and templates so feel free to choose any of your favorite page builder plugin to create pages flexibly. Some of the other features: # WooCommerce Ready # Responsive # Compatible with major plugins # Translation Ready # Extendible with premium addons # Regularly updated # Designed, Developed, Maintained & Supported by Brainstorm Force. Looking for a perfect base theme? Look no further. Astra is fast, fully customizable and beautiful theme!
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Text Domain: astra-child
Template: astra
*/

@import url("https://www.totalflooringsource.com/wp-content/themes/astra-child/resources/sharebox/needsharebutton.min.css");
.need-share-button_button {
  border: none !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

header a.phone.retailer span:before {
  content: "\f879";
  font-family: "Font Awesome 5 Free";
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  font-weight: 900;
  text-rendering: auto;
  line-height: 1;
  margin-right: 5px;
  margin-top: -2px;
  font-size: 13px;
  vertical-align: middle;
  color: #fff;
}
header a.phone.retailer span {
  color: #fff !important;
}

header a.phone.retailer:hover *,
header a.phone.retailer:hover span:before {
  color: #f5a624 !important;
}

.need-share-button_button:before {
  content: "\f1e0";
  font: normal normal normal 28px/1 FontAwesome;
  color: #f5a624;
  font-size: 24px;
}

.customSeparator {
  border-top: 3px solid #db9320;
  width: 10%;
  display: inline-block;
}

.newpdp .product-box h1 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px !important;
  font-family: "Poppins", sans-serif !important;
}

.newpdp .product-box {
  text-align: center !important;
  font-family: "Poppins", sans-serif !important;
}

.newpdp .product-box .BrandingHolder {
  text-align: center !important;
  font-size: 12px;
  letter-spacing: 2px;
  font-family: "Poppins", sans-serif !important;
}

.newpdp .product-box .BrandingHolder h6 {
  letter-spacing: 2px !important;
  font-size: 12px !important;
  color: #6d6d6d !important;
}

.newpdp .product-box .BrandingHolder a {
  color: #f5a624 !important;
  font-family: "Poppins", sans-serif !important;
}

.newpdp .product-box .BrandingHolder a:hover {
  color: #6d6d6d !important;
}

div#product-desc > div {
  max-width: 768px;
  width: 100%;
  margin: 0 auto;
  padding: 70px 20px;
}

div#product-desc > div h1 {
  color: #6d6d6d;
  font-family: "Poppins", sans-serif;
  font-size: 48px;
}

div#product-desc > div h4 {
  color: #6d6d6d;
  font-family: "Poppins", sans-serif;
  font-size: 20px;
}

.hentry {
  margin: 0 0 0em !important;
}

.newpdp .product-colors ul {
  text-align: center !important;
}

.newpdp .product-colors ul li {
  text-align: center !important;
  text-transform: capitalize;
  margin-bottom: 20px !important;
  font-family: "Poppins", sans-serif !important;
}

.newpdp .swatcImageHolder {
  text-align: center;
  padding-bottom: 30px;
}

.newpdp .swatcImageHolder img {
  max-width: 400px !important;
  max-height: 350px !important;
}

.newpdp .color_variations_slider_new .slide {
  padding-right: 8px !important;
  padding-left: 8px !important;
}

.newpdp .color_variations_slider_new .slide img {
  border-radius: 5px !important;
}

.newpdp .color_variations_slider_new .slide img {
  border-radius: 10px !important;
}

.newpdp .product-variations .slick-slider .slick-arrow {
  top: 25% !important;
}

.newpdp .arrow.slick-prev.slick-arrow {
  left: -15px !important;
}

.newpdp .arrow.slick-next.slick-arrow {
  right: -10px !important;
}

.newpdp .product-variations .slick-slider .slick-next:after {
  font-size: 24px !important;
  font-weight: 900;
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 100%;
}

.newpdp .product-variations .slick-slider .slick-prev:after {
  font-size: 24px !important;
  font-weight: 900;
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 100%;
}

.newpdp .button-wrapper a {
  font-size: 18px !important;
  padding-top: 18px;
  padding-left: 35px;
  padding-bottom: 18px;
  padding-right: 35px;
  border-radius: 50px;
  -moz-border-radius: 50px;
  -webkit-border-radius: 50px;
  text-transform: uppercase !important;
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  transition: all 200ms linear !important;
}

.newpdp .button-wrapper a:first-child {
  color: #fff !important;
  display: block;
  text-align: center;
  background: #f5a624;
  border: 1px solid #f5a624;
}

.newpdp .button-wrapper a:first-child:hover {
  color: #fff !important;
  display: block;
  text-align: center;
  background-color: #f49600;
  border: 1px solid #f49600;
  box-shadow: 15px 15px 15px rgb(0 0 0 / 10%);
}

.newpdp .button-wrapper a:not(:first-child) {
  background-color: #fff !important;
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #f2f2f2;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  box-shadow: 0px 10px 20px 5px rgb(58 58 58 / 21%);
  max-width: 100% !important;
  width: 80% !important;
  margin: 0 auto;
  margin-top: 20px;
  color: #3a3a3a;
}

.newpdp .button-wrapper a:last-child {
  background-color: #fff !important;
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #f2f2f2;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  box-shadow: 0px 10px 20px 5px rgb(58 58 58 / 21%);
  max-width: 100% !important;
  width: 70% !important;
  margin: 0 auto;
  margin-top: 20px;
}

.newpdp .button-wrapper a:not(:first-child):hover {
  background-color: #3a3a3a !important;
  color: #f2f2f2 !important;
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-color: #f49600;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  box-shadow: 0px 10px 20px 5px rgb(58 58 58 / 21%);
}

.swatcImageHolder .swatch-images {
  box-shadow: 0px 0px 30px 20px rgb(0 0 0 / 10%);
  border-radius: 20px;
}

.newpdp > .container > .row {
  padding: 50px 0px !important;
  display: inline-block !important;
  width: 100% !important;
}

.roomImageSlider .slides .arrow.prev.slick-arrow {
  display: block;
  position: absolute;
  font-size: 30px;
  color: #212121;
  z-index: 2;
  text-align: center;
  /* width: 30px; */
  float: left;
  background: 0 0;
  font-size: 0;
  top: 45%;
  left: -20px;
  border: none;
  text-decoration: none;
  transform: rotate(-90deg);
}

.roomImageSlider .slides .arrow.next.slick-arrow {
  display: block;
  position: absolute;
  font-size: 30px;
  color: #212121;
  z-index: 2;
  text-align: center;
  width: 30px;
  float: right;
  background: 0 0;
  font-size: 0;
  top: 45%;
  right: -20px;
  border: none;
  text-decoration: none;
  transform: rotate(-90deg);
}

.roomImageSlider .slides .arrow.next.slick-arrow i:before,
.roomImageSlider .slides .arrow.prev.slick-arrow i:before {
  font-size: 24px !important;
  font-weight: 900 !important;
  background-color: #fff;
  padding: 6px 12px;
  border-radius: 100%;
  font: normal normal normal 30px/1 FontAwesome;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.roomImageSlider .slides .slick-slide img {
  margin: 0 auto !important;
}

.ProdcutInfo > .container > .row {
  padding: 40px 0px !important;
  display: inline-block !important;
  width: 100% !important;
}

.product-content-tab {
  padding: 40px 0px !important;
}

.facet_loadmore .facet-wrap {
  display: block;
  text-align: center;
}

.ProdcutInfo {
  padding: 40px 0px !important;
  background-color: #f2f2f2;
}

.ProdcutInfo .BrandingHolder h6 {
  text-align: center;
  text-transform: uppercase;
  font-size: 16px !important;
  font-family: "Poppins", sans-serif !important;
  color: #f5a624 !important;
}

.ProdcutInfo .BrandingHolder ul {
  text-align: center;
  list-style: none;
  padding: 0px !important;
  margin: 0px;
}

.ProdcutInfo .BrandingHolder {
  margin-bottom: 20px;
}

.ProdcutInfo .BrandingHoldertwo h5 {
  font-size: 16px !important;
  text-align: center;
}

.ProdcutInfo .BrandingHoldertwo {
  margin-top: 20px;
  font-size: 16px !important;
  text-align: center;
}

.ProdcutInfo .BrandingHoldertwo a {
  color: #f5a624;
}

.button-wrap > a {
  margin: 0 auto;
  margin-top: 20px;
  text-align: center;
  font-size: 16px !important;
  color: #fff !important;
  display: flex !important;
  align-items: center;
  justify-content: center;
  width: 90%;
}

.button-wrap > a > i {
  font-size: 16px !important;
  color: #fff !important;
  margin-right: 10px;
}

.button-wrap > a > i:before {
  font: normal normal normal 20px/1 FontAwesome;
}

.button-wrap {
  text-align: center !important;
}

.ProdcutInfo .img-responsive {
  min-height: 375px;
}

.ProdcutInfo .img-responsive img {
  max-width: 100%;
  max-height: 375px;
  height: auto;
}

.pricingSecPDP {
  padding-top: 64px;
}

.progress-bars .progress-wrapper .progress {
  height: 20px;
  border-radius: 20px !important;
  margin-bottom: 20px;
  overflow: hidden;
  background-color: #f5f5f5;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
  box-shadow: inset 0 1px 2px rgb(0 0 0 / 10%);
}

.progress-bars .progress-wrapper .progress .progress-bar {
  width: 80% !important;
  background-color: #db9320 !important;
  float: left;
  height: 100%;
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  text-align: center;
  -webkit-box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
  -webkit-transition: width 0.6s ease;
  -o-transition: width 0.6s ease;
}

/*Workbook css start here */

.workbookImages h3.uabb-simplify {
  margin-bottom: 20px !important;
}

.signinButton .fl-button-wrap .fl-button {
  margin: 0 auto;
  margin-top: 60px;
  border-radius: 40px;
  height: 45px;
  width: 153px;
  letter-spacing: 2px;
  line-height: 33px;
  text-align: center;
  padding: 0px !important;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff !important;
}

.signinButton .fl-button-wrap .fl-button span {
  color: #fff !important;
}

/*Workbook css end here */

/* Resiter page css start here*/

.registerationForm .user-registration {
  border: none !important;
  padding: 0px !important;
}

.registerationForm .user-registration input[type="text"] {
  border: 1px solid #ccc;
  height: 46px;
}

.registerationForm .user-registration input[type="text"],
.registerationForm .user-registration input[type="email"],
.registerationForm .user-registration input[type="password"],
.registerationForm .user-registration select {
  border: 1px solid #ccc;
  height: 46px;
}

.registerationForm .ur-submit-button,
.user-registration .ur-submit-button {
  margin: 0 auto !important;
  margin-top: 60px !important;
  border-radius: 40px !important;
  width: 153px;
  height: 45px;
  font-family: Montserrat, sans-serif !important;
  font-weight: 400 !important;
  font-size: 16px;
  letter-spacing: 2px !important;
  text-transform: uppercase !important;
  color: #fff !important;
}

.registerationForm .field-radio ul,
.user-registration .field-radio ul {
  padding-left: 0px !important;
}

.registerationForm .user-registration .field-radio ul label {
  font-weight: 600 !important;
  font-size: 12px !important;
}

::placeholder {
  /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: #4f4f4f !important;
}

/* Resiter page css end here*/

/* Favoriate product page css start here*/

.favProWarpper .prod_like_wrap .favButtons .buttonHolder .view_note_fav {
  background-color: #fff;
  display: inline-block !important;
  padding: 12px 14px !important;
  width: auto !important;
  border-radius: 100%;
  margin-left: 20px !important;
}

.favProWarpper
  .prod_like_wrap
  .favButtons
  .buttonHolder
  .view_note_fav
  i:before {
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  color: #0079c1 !important;
  font-size: 26px;
}

.favProWarpper .prod_like_wrap .favButtons .remove-parent {
  background-color: #fff;
  display: inline-block !important;
  padding: 12px 14px !important;
  width: auto !important;
  border-radius: 100%;
}

.favProWarpper .prod_like_wrap .favButtons .remove-parent i:before {
  font: normal normal normal 16px/1 FontAwesome;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  display: inline-block;
  text-decoration: inherit;
  vertical-align: middle;
  color: #0079c1 !important;
  font-size: 26px;
}

.favProWarpper .product-row > div.col-md-4:nth-child(4n + 1) {
  clear: left;
}

/*WorkBook css */

#printMe .product-row > div.col-md-4:nth-child(3n + 1) {
  clear: none !important;
}

#printMe .favButtons.button-wrapper #roomvo {
  width: auto !important;
}

#printMe .favButtons.button-wrapper #roomvo .roomvo-container > a {
  visibility: visible;
  margin-bottom: 10px;
  border-radius: 60px;
  width: 150px !important;
  padding: 12px 0px 8px 0px;
}

#printMe .favButtons.button-wrapper #roomvo .roomvo-container > a:hover {
  cursor: pointer;
}

.product-swatch-inner .wpfp-span .wpfp-link {
  color: #fff;
  background-color: #0079c1;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  width: 90%;
  border-radius: 0px;
  border: none;
  padding: 10px 0;
  margin: 10px auto;
}

.product-swatch-inner .wpfp-span .wpfp-link:hover {
  color: #fff;
  border-color: initial;
  background-color: #848689;
  border-style: none;
  border-width: 0px;
  border-radius: 0px;
}

.favProWarpper {
  max-width: 992px;
  margin: 0 auto;
  position: relative;
}

.shareAndPrint {
  position: absolute;
  top: 20px;
  right: 40px;
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.shareAndPrint a i {
  font-size: 20px;
}

#mesureMentprintMe .product-row > div.col-md-4:nth-child(3n + 1) {
  clear: none;
}

.favProWarpper h2 {
  font-size: 32px;
  line-height: 1em;
  color: #f5a624;
  margin-bottom: 20px !important;
}

.favProWarpper .product-plp-grid h3 {
  font-size: 22px;
  color: #4f4f4f;
}

.favProWarpper .heading-title,
.favProWarpper .heading-text {
  text-align: center;
}

.favProWarpper .statiContent {
  text-align: center;
}

.favProWarpper .favButtons {
  position: absolute;
  top: 150%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.3s;
  -webkit-transition: all 0.5s;
}

.favProWarpper .product-row .fl-post-grid-image:hover .button-wrapper {
  top: 0;
}

.wpfp-span .wpfp-link {
  border-radius: 60px;
  font-size: 12px;
  color: #fff;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;
  width: 150px;
  margin: 0 auto;
  background-color: #0079c1;
  text-transform: uppercase;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
}

.wpfp-span .wpfp-link:hover {
  background: #848689;
  text-decoration: none;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap {
  position: relative;
  overflow: hidden;
  margin-bottom: 15px;
  background: #fff;
  width: 100%;
  min-height: 280px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap > a {
  width: 100%;
  max-height: 280px;
  height: 100%;
}

.favProWarpper .product-row .fl-post-grid-image.prod_like_wrap img {
  margin-bottom: 0px !important;
  max-height: 280px !important;
}

.favProWarpper .product-row .fl-post-grid-image .button-wrapper .fl-button {
  border-radius: 60px;
  font-size: 12px;
  color: #fff;
  height: 40px !important;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 9px;
  padding-top: 12px;
}

.storename {
  margin: 0px;
  list-style: none;
}

.storename li p {
  margin: 0px;
}

element.style {
  display: block;
}

.searchIcon .fl-icon i {
  cursor: pointer;
}

.searchModule {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 9;
}

.number-store-ul .uabb-infobox-text-wrap .uabb-infobox-text p {
  display: none;
}

.favProWarpper
  .product-row
  .fl-post-grid-image
  .button-wrapper
  .wpfp-link.remove-parent {
  background-color: #fff;
  color: #0079c1;
  font-family: "Josefin Sans", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
  text-transform: uppercase;
  border-style: none;
  border-width: 0px;
  border-color: initial;
  width: auto;
  padding: 11px 15px;
  border-radius: 20px;
}

.favProWarpper
  .product-row
  .fl-post-grid-image
  .button-wrapper
  .wpfp-link.remove-parent
  i {
  font-size: 18px !important;
}

/* Favoriate product page css end here*/

/* Measurment tool css start here  */

.mesureMentWrap .button-wrapper .button.view,
.favProWarpper .favButtons > a {
  background-color: #f5a624 !important;
  color: #fff !important;
  font-size: 16px !important;
  font-family: "Poppins", sans-serif;
}

.mesureMentWrap .button-wrapper .button.view:hover,
.favProWarpper .favButtons > a:hover {
  background-color: #f49600 !important;
  color: #fff !important;
  border: none !important;
}

#mesureMentprintMe h3 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
}

.mesureMentWrap img.measure_img {
  max-height: 80px !important;
  width: auto !important;
  max-width: 90% !important;
  margin: 0 auto !important;
}

.mesureMentWrap {
  position: relative;
  overflow: hidden;
  min-height: 220px !important;
}

.mesureMentWrap .favButtons {
  position: absolute;
  top: 150%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  transition: all 0.8s;
  -webkit-transition: all 0.8s;
}

#mesureMentprintMe .product-row .mesureMentWrap:hover .favButtons {
  top: 10%;
  transition: all 0.6s;
  -webkit-transition: all 0.6s;
}

#mesureMentprintMe.product-grid
  .product-row
  .fl-post-grid-post
  .fl-post-grid-image
  > a {
  background-color: rgba(0, 0, 0, 0.2);
}

.mesureMentWrap .button-wrapper {
  font-size: 12px;
  border-radius: 50px;
  display: flex;
  align-items: flex-end !important;
  padding-bottom: 0px;
  transition: all 1.1s;
}

.mesureMentWrap .button-wrapper > a {
  font-size: 12px;
  border-radius: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 12px 24px;
}

.mesureMentWrap .button-wrapper > a:hover {
  border-radius: 50px;
}

.mesureMentWrap .button-wrapper > a:first-child {
  width: 120px;
}

.mesureMentWrap .button-wrapper > a:last-child {
  padding: 16px 16px;
  display: flex;
  align-items: center !important;
  justify-content: center !important;
  background-color: #fff !important;
}

.mesureMentWrap .button-wrapper > a:last-child:hover {
  padding: 16px 16px;
  border-radius: 50px;
}

.mesureMentWrap .button-wrapper > a:last-child i {
  margin: 0px !important;
  color: #0079c1 !important;
}

.mesureMentWrap .button-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly !important;
}

#mesureMentprintMe .fl-post-grid-post h3 {
  margin: 12px 0px 0px;
  font-size: 20px;
  color: #4f4f4f;
  font-size: 16px;
  letter-spacing: 0;
  line-height: 21px;
}

.favProWarpper .favButtons > a {
  width: auto !important;
}

/* measuremnt popup */

.measurepopup {
  width: 90%;
  overflow: hidden;
  margin: 0 auto !important;
  max-width: 1100px;
  padding: 20px;
  text-align: center;
  background-color: #fff;
  box-shadow: 0px 0px 10px #000;
  z-index: 9999;
  margin-top: 50px;
  margin-bottom: 50px;
}

.measurepopup .row h3 {
  font-weight: 700;
  color: #000;
  text-align: left;
  color: #4f4f4f;
  font-size: 23px;
  letter-spacing: 0.22px;
  line-height: 41px;
}

.measurepopup .row {
  display: flex;
  align-items: center;
}

.measurepopup .sharingBox a i {
  font-size: 24px !important;
  padding: 20px;
}

.measurepopup .sharingBox {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.measurepopup img {
  display: inline-block;
  max-width: 100%;
  height: auto;
}

.overlayMeasure,
.overlayInquery {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 9999;
  overflow: hidden;
  -webkit-overflow-scrolling: touch;
  outline: 0;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
}

.newPLP .overlayInquery .measurepopup .row {
  display: block !important;
  overflow-y: scroll;
  max-height: 80vh;
}

.overlayInquery .productInfo {
  padding-top: 60px !important;
  width: 100% !important;
  text-align: center !important;
}

.productInfo > img {
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  border-radius: 10px;
  margin-bottom: 10px;
}

.productInfo h3 {
  text-align: center !important;
  margin-bottom: 0px;
  font-family: Playfair Display, serif;
  font-weight: 700 !important;
}

.pageUrl,
.collectionName,
.brandName {
  display: none;
}

.newPLP .closePopup {
  position: absolute !important;
  top: 0px !important;
}

.overlayInquery .measurepopup {
  border-radius: 10px !important;
  position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
}

.overlayInquery .row::-webkit-scrollbar {
  width: 1em;
}

.overlayInquery .row::-webkit-scrollbar-track {
  background-color: #cccccc36;
}

.overlayInquery .row::-webkit-scrollbar-thumb {
  background-color: #a9a9a952;
}

/*Measuremnt popup end here*/

/*Measuremnt tool css end here */

/*New PLp css start here */

/* .row.product-row.newPLP > .col-lg-3{
	width: 20%!important;
    float: left!important; 
} */

/* .row.product-row.newPLP > div.col-md-3:nth-child(4n + 1){
     clear: none!important; 
} */

.product-grid
  .row.product-row.newPLP
  .fl-post-grid-post
  .fl-post-grid-image
  > a {
  display: flex;
  flex-wrap: wrap;
  min-height: 220px;
  align-items: center;
  position: relative;
  border-radius: 10px;
}

.product-grid
  .row.product-row.newPLP
  .fl-post-grid-post
  .fl-post-grid-image
  > a
  > img {
  display: block;
  max-height: 230px;
  margin-bottom: 10px;
  position: absolute;
  min-height: auto;
  width: 100%;
  border-radius: 10px;
  box-shadow: 0px 0px 14px rgb(0 0 0 / 80%);
}

.row.product-row.newPLP .product-grid > a {
  display: inline-block !important;
  text-decoration: none;
  margin-top: 8px !important;
  margin-bottom: 14px !important;
  border-style: solid;
  border-width: 0;
  background-clip: border-box;
  border-radius: 50px !important;
  font-size: 16px;
  line-height: 1;
  text-transform: uppercase;
  font-weight: 500;
  color: #ffffff;
  padding-top: 15px;
  padding-bottom: 15px;
  background: #3a3a3a;
  min-width: 170px !important;
  background: #3a3a3a;
}

.row.product-row.newPLP .product-grid > a > span {
  font-size: 16px;
}

.row.product-row.newPLP .product-grid > a:hover {
  background: #f5a624;
}

.row.product-row.newPLP .product-grid.btn-grey > h4 {
  font-family: "Poppins", sans-serif;
  min-height: 80px;
}

.row.product-row.newPLP .product-grid.btn-grey > h4 > span:nth-child(1) {
  font-weight: 800;
  color: #929292 !important;
}

.row.product-row.newPLP .product-grid.btn-grey > h4 > span:nth-child(2) {
  font-weight: 800;
  font-size: 18px !important;
  color: #000 !important;
}

.row.product-row.newPLP .productInquery {
  margin-bottom: 0px !important;
  margin-top: 20px !important;
  color: #db9320;
}

.row.product-row.newPLP .productInquery:hover {
  cursor: pointer;
}

div#product-download,
#product-info {
  padding: 60px 0px;
}

header .phone a {
  color: #fff;
}
header .phone a:hover {
  color: #f5a624;
}
/*New PLp css end here */

@media (min-width: 1160px) {
  body.single .ast-container,
  body.single .ast-container > .container {
    max-width: 100% !important;
    width: 100% !important;
    padding: 0px !important;
    margin: 0px !important;
    margin: 0 auto !important;
  }
}

@media (min-width: 1200px) {
  .favProWarpper {
    padding: 60px 42px !important;
  }
  .hidden.fl-visible-small {
    display: none !important;
  }
}

@media (max-width: 1200px) {
  .favProWarpper .product-row .fl-post-grid-image.prod_like_wrap > a {
    max-height: 100%;
  }
  header .fl-html {
    text-align: center !important;
  }
  header .fl-menu-mobile-toggle.hamburger {
    width: 100% !important;
    text-align: center !important;
    margin: 0 auto !important;
    float: none !important;
  }
  .favProWarpper .favButtons {
    background: #f2f2f299;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    width: 100%;
    margin: 0;
    padding: 10px;
    position: static;
  }
  .favProWarpper .product-row .fl-post-grid-image:hover .button-wrapper {
    top: auto;
  }
  .product-plp-grid .product-row .fl-post-grid-post .fl-post-grid-image,
  .product-grid .fl-post-grid-post,
  .product-plp-grid.product-grid.swatch
    .fl-post-grid-text.product-grid.btn-grey {
    background: #f2f2f299;
  }
  .signup-col {
    width: 70% !important;
    max-width: 70% !important;
    flex-basis: 70% !important;
  }
  .serach-col {
    width: 30% !important;
    max-width: 30% !important;
    flex-basis: 30% !important;
  }
}

@media (max-width: 992px) {
  .fl-builder-content .fl-module-content-slider .fl-slide .fl-slide-content {
    margin: 0 !important;
    padding: 0 !important;
  }
  /* PLP Page Css iPad Air */
  .open_sidebar {
    overflow: hidden;
    margin-bottom: 20px;
  }

  .open_sidebar a {
    float: unset;
  }

  .facet_filters .close_bar,
  .open_sidebar,
  .close_sidebar_button {
    display: none;
  }

  #product-list-top-filters .fl-col-group .fl-col {
    width: 100% !important;
    text-align: center;
    max-width: 100%;
  }
  #product-list-top-filters .fl-heading,
  .facetwp-counts,
  .facetwp-pager,
  .facetwp-per-page,
  .open_sidebar {
    text-align: center !important;
  }
  .open_sidebar,
  .close_sidebar_button {
    display: block;
  }
  .open_sidebar {
    max-width: 160px;
    margin: 0 auto 20px;
  }
  .facet_filters {
    position: fixed;
    top: 0px;
    left: -5px;
    width: 80%;
    height: 100%;
    overflow: auto;
    background-color: white;
    z-index: 10;
    left: -1000px;
    -moz-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    -webkit-box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
    box-shadow: 5px 5px 5px 6px rgba(0, 0, 0, 0.4);
  }
  .facet_filters .close_bar {
    background-color: #008c8c;
    overflow: hidden;
    width: 100%;
    padding: 5px;
    display: block;
    margin-bottom: 20px;
  }

  .facet_filters .close_bar .close {
    color: white;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity=100);
    opacity: 1;
    float: right;
    color: #fff;
    opacity: 1;
  }
  .facetwp-template .product-grid .product-row > .col-md-4:nth-child(3n + 1) {
    clear: left !important;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 33.33%;
    float: left;
    clear: none !important;
  }
  .product-detail-layout-6 .product-box .row:first-child .col-md-6:first-child {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6
    .product-box
    .row:first-child
    .col-md-6:nth-child(2) {
    width: 100% !important;
    text-align: center !important;
  }
  .product-detail-layout-6 .toggle-image-thumbnails {
    align-items: center !important;
    justify-content: center !important;
  }

  .facetwp-per-page select {
    border: 1px solid #000;
  }
  .facet_filters .fl-html {
    text-align: left;
  }
  /* PLP Page Css iPad Air */
}

@media (max-width: 767px) {
  .left-right-responsive-view
    .fl-row-content-wrap
    .fl-col-group
    .fl-module-info-box
    .uabb-infobox-left-right-wrap {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .left-right-responsive-view
    .fl-row-content-wrap
    .fl-col-group
    .fl-module-info-box
    .uabb-infobox-left-right-wrap
    > .uabb-imgicon-wrap {
    margin: 0px 0 15px;
  }
  .left-right-responsive-view
    .fl-row-content-wrap
    .fl-col-group
    .fl-module-info-box
    .uabb-infobox-left-right-wrap
    > .uabb-infobox-content {
    width: 100%;
    text-align: center;
  }
  .location-button-alignment
    .fl-col-group
    .uabb-infobox
    .uabb-infobox-text-wrap
    .uabb-infobox-button
    .uabb-button-wrap {
    text-align: center;
  }
}

@media (max-width: 500px) {
  .newpdp .swatcImageHolder img {
    max-width: 100% !important;
    max-height: 100% !important;
  }
  .newpdp {
    text-align: center;
  }
  .shareAndPrint {
    position: static;
    top: 0;
    right: 0;
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  .shareAndPrint.hideShare a {
    margin-left: 15px;
  }
  .facetwp-template .product-grid .product-row > .col-md-4 {
    width: 100% !important;
    clear: left !important;
  }
}


#moove_gdpr_cookie_info_bar .moove-gdpr-infobar-close-btn{position:absolute!important;right:10px!important}.swell-chat-fixed{z-index:9999!important}.gdpr_lightbox,aside#moove_gdpr_cookie_info_bar{z-index:+9999999991!important}@media only screen and (max-width:992px){aside#moove_gdpr_cookie_info_bar{position:fixed;max-width:80%;left:0;right:0;margin:0 auto;top:50%;transform:translate(0,-50%);z-index:+9999999991;bottom:auto;content-visibility:inherit}#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content{flex-wrap:wrap;flex-direction:column}#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice{text-align:center}#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p{margin-bottom:10px!important}#moove_gdpr_cookie_info_bar .moove-gdpr-cookie-notice p:last-child{margin-bottom:0!important}#moove_gdpr_cookie_info_bar .moove-gdpr-info-bar-container .moove-gdpr-info-bar-content .moove-gdpr-button-holder{padding:10px 0}#moove_gdpr_cookie_info_bar button.moove-gdpr-infobar-close-btn{top:-20px!important;right:-20px!important;background:#fff;opacity:1!important;color:#000!important}#moove_gdpr_cookie_info_bar .moove-gdpr-button-holder{justify-content:center;align-items:center}}@media (max-width:767px){#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-left-content{padding:0!important}#moove_gdpr_cookie_modal .moove-gdpr-modal-content .moove-gdpr-modal-right-content{padding-top:30px!important}}.moove-gdpr-branding-cnt{  display: none;}.moove-gdpr-company-logo-holder{display: none;}

